html, body {
    height: 100%;
  
}

html {
    display: table;
    margin: auto;
   
}

body {
    display: table-cell;
    vertical-align: middle;
    background: #F6F8F9;
	margin: auto;
	width: 1440px;
	float: middle;
}
/*body{
	background: #F6F8F9;
	margin: auto;
}*/

nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
}

header {
	height: 60px;
	width: 1440px;
	margin-top: 0px;
	margin-left: 20px;
	position: fixed;
	background: #F6F8F9;
}


.header-logo {
	font-size: 30px;
	display: inline-block;
	margin-right: 40px;
	margin-top: 12px;
	vertical-align: middle;
	color: #FA6980;
	margin-right: 100px;
	font-family: 'Roboto', sans-serif;

}

.header-image {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px; 
}

.home-black {
	color: black;
}

li {
	display: inline-block;
	margin: 7px;
	margin-left: 35px;
	font-size: 23px;
	color: #707070;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;

}

.trending {
	font-size: 30px;
	margin-top: 90px;
	margin-bottom: 30px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
}

.first-section {
	margin: 0 auto;
	display: inline-block;
	margin-left: 220px;
}

.napnapi, .nipnipi, .nupnupi{
width: 360px;
height: 350px;
background-color:#FFFFFF;
display: inline-block;
margin-top: 30px;
margin: 12px;
}

p {
	padding: 15%;
	font-family: 'Open Sans', sans-serif;
	color: #A6ADB4;
}

.happening-now	{
	font-size: 30px;
	margin-top: 50px;
	margin-left: 230px;
	font-family: 'Roboto', sans-serif;
}

.mamluqi {
	margin-bottom: 30px;
	vertical-align: middle;
	/*display: inline-block;*/
	float: left;
}

.xvicha, .gocha {
	margin-top: 50px;
	margin-left: 220px;
}

.three-images {
	display: inline-block;
	margin-top: 50px;
	margin-left: 25px;

}


.first-image, .second-image, .thrid-image {
padding: 60px;
margin-left: -55px;
margin-top: -59px;
}


/*html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
*/
footer{
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
	margin-top: 150px;
}

.footer-logo {
	margin-left: 150px;
	padding-top: 1010px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	display: inline;
}
.footer-menu {
	
	font-size: 8px;
	font-family: 'Roboto', sans-serif;
	margin-left: 150px;
	margin-bottom: 50px;
	width: 50px;
	height: 30px;
	display: inline-block;
}

.pototext1 {
	margin-top: -200px;
	margin-bottom: 75px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}


.pototext2 {
	margin-top: -125px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.pototext3 {
	margin-top: -125px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.bridgetext {
	float: bottom;
}